{% extends 'recordatorios/home.html' %}

{% block content %}
<h1>Registro</h1>

<form action="" method="POST">
	{% csrf_token %}

	{% if error %}
	{{ error }}
	{% endif %}

	{{ form.as_p }}
	<button type="submit">Registrar</button>
	<!-- <label for="id_username">Nombre de usuario:</label><input type="text" name="username" maxlength="150"
		autocapitalize="none" autocomplete="username" autofocus="" required="" id="id_username"><br><span
		class="helptext">Obligatorio. Longitud máxima 150 caracteres alfanuméricos. Letras, dígitos y @/./+/-/_
		únicamente.</span>
	<label for="id_password1">Contraseña:</label><input type="password" name="password1" autocomplete="new-password"
		required="" id="id_password1"><br><span class="helptext">
		<ul>
			<li>Su contraseña no puede ser muy similar a su otra información personal.</li>
			<li>Su contraseña es muy corta. Debe contener al menos 8 caracteres.</li>
			<li>Su contraseña no puede ser una contraseña de uso común.</li>
			<li>Su contraseña no puede ser completamente numérica.</li>
		</ul>
	</span>
	<label for="id_password2">Confirmación de contraseña:</label><input type="password" name="password2"
		autocomplete="new-password" required="" id="id_password2"><br><span class="helptext">Para verificar, introduzca la
		misma contraseña que introdujo antes.</span> -->
</form>
{% endblock content %}